@page
@model az_app_sid_vs.Pages.DeploymentSlotsModel

@{
    ViewData["Title"] = "Home page";


}

<div class="text-center">
    <h1 class="display-4">Welcome  Deploy Slots</h1>
    <h3>Valid</h3>

</div>
