@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to  App Services-GitHub Actions In Effect</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">Welcome to Azure App Services</a>.</p>
</div>
